<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Universidad</title>
</head>
<body>
    <form>
        <div>
            <p> <label> Usuario: </label> <br>
                <input type="text" name="usuario">
            </p>
            <p> <label> Contraseña: </label> <br>
                <input type="password" name="contrasena">
            </p>
            <p>
                <input href="/home.html" type="submit" value="Entrar">
            </p>
        </div>
    </form>
</body>
</html>